*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
cert/quizapp.jks
.gitsecret/keys/random_seed
!*.secret
cert/play_store_cert.jks
